<!DOCTYPE html>
<html>
  <head>
    <title>Classic</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="blue">
      <div class="nav-wrapper">
        <a href="/" class="brand-logo center">Classic Packaging Solutions.</a>
        <!-- <a href="#" data-activates="mobile-demo" class="button-collapse">
      <i class="material-icons">menu</i>
    </a> -->
        <ul class="side-nav" id="mobile-demo">
          <li>
            <a href="/">Home</a>
          </li>
        </ul>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
